ul li{
    display: inline;
    color:white
}
ul {
    background-color:rgb(19, 40, 103);
    width:100%;
    height: 100px;
    padding-top: 20px;
    font-family: " Bradley Hand (cursive)"
}

a:link{
    color: aliceblue;
    text-decoration: none;
    font-family: Harrington;
}
a:hover{
    text-decoration: underline;

}

img {
    width: 600px;;
    height:600px;
    border: 20px;
    border-color: white;
}
H2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}


li{
    margin-right: 30px;
    font-size:25px;
}